<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ServletAJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 
  <!--  <servlet>
  <servlet-name>Akshay</servlet-name>
  <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Akshay</servlet-name>
  <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping> -->


   <!-- *********************************************************************************** -->



<servlet>
  <servlet-name>Akshay</servlet-name>
  <servlet-class>ServletConfigDemo</servlet-class>
  </servlet>

<context-param>
<param-name>email</param-name>
<param-value>akshay@gmail</param-value>
</context-param>  

<context-param>
<param-name>country</param-name>
<param-value>India</param-value>
</context-param>  

  <servlet-mapping>
  <servlet-name>Akshay</servlet-name>
  <url-pattern>/ServletConfigDemo</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>parate</servlet-name>
  <servlet-class>ServletContext</servlet-class>
   <init-param>
<param-name>position</param-name>
<param-value>tutor</param-value>
</init-param>  

<init-param>
<param-name>location</param-name>
<param-value>kharghar</param-value>
</init-param>  
  
  </servlet>
  <servlet-mapping>
  <servlet-name>parate</servlet-name>
  <url-pattern>/ServletContext</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>